h5 {
    font-size: 1rem !important;
}

.form-group {
    display: flex !important;
    flex-direction: column !important;
}

button.nav-item {
    border: none !important;
    background: none !important;
    color: #efefef !important;
}
